/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
  background-color: rgb(31, 83, 181) !important;
}

nav:hover{
  transform: scaleY(1.02)
}

nav a:hover{
  transition: background-color 0.9s;
  background-color: rgb(165, 100, 245, 0.7);
}

.card:hover{
  transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) .6s, background-color 3s;
  background: linear-gradient(rgba(165, 100, 245, 0.7),lightgray);
  transform: scale(1.01);
}

.price{
  font-weight: bold;
}

/* .card img:hover{
  transition: radial-gradient 5s;
  mask-image: radial-gradient(circle, black 68%, rgba(255, 255, 255, 0) 10%);
} */